.div1{
    flex-direction: column;
    border: 4px solid rgb(244, 189,153);
}
.column1{
    display: flex;
    margin: 15px;
    border: 4px solid rgb(134, 173, 192);
    flex-wrap: wrap;
    align-content: space-between;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 3px;
}

h4{
    margin-top: 0px;

}