.h3 {
    margin-left: 1rem;
    color:white;
    float: left;
    width: 50%;
    height: 0.5rem;
    display: inline;
}
header {
    background-color:rgb(68,81,98);
    width: 100%;
    height: 18rem;
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
}
#div {
    float: right;
    background-color:white;
    width: 30%;
    height:1rem;
    padding-top: 2rem;
    margin-right: 2rem;
    padding-top: 13rem;
    margin-top: 2rem;
}
.p {
    width: 50%;
    height: 2rem;
}
#divtwo {
    float: right;
    background-color:rgb(68,81,98);
    width: 30%;
    height:1rem;
    padding-top: 2rem;
    margin-right: 2rem;
    padding-top: 13rem;
    margin-top: 2rem;
}
#divmain {
    height: 18rem;
    padding-bottom: 0.5rem;
    float: top;
}
#contact {
    background-color:rgb(68,81,98);
    width: 100%;
    height: 27rem;
    padding-top:1rem;
    padding-bottom: 0.5rem;
    float: top;
    margin-top: 0.5rem;
}
#address {
    margin-left: 35rem;
}
textarea {
    width: 12rem;
    padding-right: 16rem;
    margin-left: 14rem;
    margin-bottom:0.5rem;
    border-radius: 0.5rem;
}
#textareacom {
    padding-bottom: 8rem;
}
#con {
    float: right;
    width: 35%;
    margin-top: 5rem;

}
#tact {
    width: 65%;
    float: left;
}
h3 {
    color: rgb(197,206,198);
}
button {
    margin-top: 0.5rem;
    margin-left: 23rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 0.5rem;
}
.img {
    width: 20px;
    height: 20px;
    padding: 0.1rem;
    background-color: white;
    border-radius: 1rem;
    margin:0.5rem;
}
h1 {
    color: white;
}
