* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}

.header {
    padding: 0px;
    font-size: 40px;
    text-align: center;
    background: white;
    background-image: url();
}

.ver1 {
    float: left;
    width: 75%;
}

.ver2 {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.img {
    background-color: #aaa;
    width: 100%;
    padding: 80px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    display: flex;
    background-color: black;
}

@media screen and (max-width: 480px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}


.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: black;
    color: white;
}


a :hover{
    color: rgb(0,255,0);
}


.footer-text{
    color: blue;
}

.batr:hover{
    color: rgb(0,255,0);
}
