.batr{
    color: #009900;
    text-align: center;
}
.vvv{
    text-align: center;
}
.azamat{
    width: 30%;
    height:  900px;
    background-color: antiquewhite;
    text-align: center;
    margin-left: 600px;
}
.mmm{
    color: #009900;
    text-align: center;
    margin-top: 100px;
}
.jfjf{
    margin-top: 60px;
    text-align: center;
}

.jhjh{
    text-align: center;
    margin-top: 100px;
}

.lflf{
    width: 30%;
    height:  900px;
    text-align:center;
    margin-left: 600px;
    background-color: #FFFFFF;
}
.ghdk{
    text-align: left;
}
.kjji{
    text-align: left;

}
.flklsoifj{
    width: 55%;
    height: 600px;
    text-align: center;
    margin-left: 400px;
    background-color: burlywood;
}