.one{
    position: absolute;
    margin-left: 5%;
    margin-top: 6px;
}

.two{
    position: absolute;
    margin-left: 19%;
    top: 2%;
}

.three{
    position: absolute;
    margin-left: 27%;
    top: 2%;
}

.four{
    position: absolute;
    margin-left: 33%;
    top: 2%;
}

.five{
    position: absolute;
    margin-left: 42%;
    top: 2%;

}

.six{
    position: absolute;
    margin-left: 50%;
    top: 2%;
}

h1.one:hover{
    background-color: black;
    color: white;
    transition: 1.5s;
}

h3.two:hover{
    background-color: black;
    color: white;
    transition: 1.5s;
}

h3.four:hover{
    background-color: black;
    color: white;
    transition: 1.5s;
}

h3.three:hover{
    background-color: black;
    color: white;
    transition: 1.5s;
}

h3.five:hover{
    background-color: black;
    color: white;
    transition: 1.5s;
}

h3.six:hover{
    background-color: black;
    color: white;
    transition: 1.5s;
}

div.ver{
    display: flex;
    width: 100%;
    flex-direction: row;
}



div.ver1{
    width: 100%;
}

div.ver3{
    width: 15%;
    background-color: black;
    height: auto;
}

img.korzina{
    width: 50px;
    height: auto;
    display: flex;
    margin-left: 90%;
    margin-top: 1%;
}

img.korzinka:hover{
    background-color: black;
    color: white;
    transition: 1.5s;
}

.slides {
    display:none;
}
.buttonleft{
    position: absolute;
    left:16%;
    text-decoration: none;
    background-color: none;
    border: none;
    color: white;
}
.buttonright{
    position: absolute;
    right: 16%;
    text-decoration: none;
    color: white;
}


div.qwe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
div.image{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: row;
    margin-top: 4%;
}
img.suret{
    width: 100px;
    height: auto;
}
.all{
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.facebook{
    width: 50px; 
    height: 50px;
    position: absolute;
    margin-top: 12%;
}

.instagram{
    width: 50px; 
    height: 50px;
    position: absolute;
    margin-top: 12%;
    margin-left: 5%;
}

.twitter{
    width: 50px; 
    height: 50px;
    position: absolute;
    margin-top: 12%;
    margin-left: -5%;
}

.batr{
    position: absolute;
    margin-top:  -3%;
    margin-left: 29%;
    color: darkorange;
    font-size: 200%
}
.text{
    background-color: rgb(39, 38, 38);
    width: 100%;
    height: auto;
    margin-top: 2%;
}

.ver4{
    width: 100%;
    height: 2500px;

}

.phone{
    position: absolute;
    margin-top: 12%;
    margin-left: 4%;
    width: 400px;
    height: 515px;
}

.phones{
    position: absolute;
    margin-top: 12%;
    margin-left: 45%;
    width: 400px;
    height: 550px;
}
.kickstarter{
    position: absolute;
    margin-top: 50%;
    margin-left: 45%;
    width: 350px;
    height: 50px;
}

.text3{
    font-family: 'Open Sans Condensed', sans-serif;
    position: absolute;
    margin-top: 47%;
    margin-left: 49%
    
}

.ver5{
    position: absolute;
    width: 150px;
    height: 60px;
    border-color: black;
    outline: 2px solid black;
    margin-top: 50%;
    margin-left: 7%; 
    justify-content: center;
}

.ver6{
    position: absolute;
    width: 150px;
    height: 60px;
    border-color: black;
    outline: 2px solid black;
    margin-top: 50%;
    margin-left: 23%; 
    justify-content: center;
}

.ver7{
    position: relative;
    width: 100%;
    height: 430px;
    background-color: rgb(247, 244, 237);
    margin-top: -105%;
    justify-content: center;
    align-items: center;
}

.text16{
    font-family: 'Abel', sans-serif;
    position: absolute;
    margin-top: 13%;
    margin-left: 25%;
}
.shipping{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 80%;
    margin-top: 20%;
}
.days{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 20%;
    margin-left: 45%;
}

.warranty{
    position: absolute;
    width: 100px;
    height: 80px;
    margin-top: 21%;
    margin-left: 13%;
}

.ver8{
    position: relative;
    width: 100%;
    height: 550px;
    margin-top: 0%;
    background-color: cyan;
}

.street{
    position: relative;
    width: 100%;
    height: 700;
}

.ver9{
    position: relative;
    width: 100%;
    height: 650px;
    margin-top: 0%;
    background-color: white;
}

.uncreate{
    position: absolute;
    width: 180px;
    height: 40px;
    margin-left: 10%;
    margin-top: 10%;
}

.fastcompany{
    position: absolute;
    width: 180px;
    height: 25px;
    margin-top: 11%;
    margin-left: 42%;
}

.wareable{
    position: absolute;
    width: 230px;
    height: 100px;
    margin-top: 8%;
    margin-left: 70%;
}

.esquire{
    position: absolute;
    width: 180px;
    height: 50px;
    margin-left: 10%;
    margin-top: 30%;
}

.digital{
    position: absolute;
    width: 250px;
    height:120px;
    margin-top: 27%;
    margin-left: 39%;
}

.xalaka{
    position: absolute;
    width: 220px;
    height:110px;
    margin-top: 27%;
    margin-left: 70%;
}

.text20{
    text-align: center;
    margin-left: -65%;
    margin-top: 15%;
}

.text21{
    text-align: center;
    margin-left: -4%;
    margin-top: -4%;
}

.text22{
    text-align: center;
    margin-top: -7%;
    margin-left: 58%;
}

.text23{
    text-align: center;
    margin-left: -65%;
    margin-top: 18%;
}

.text24{
    text-align: center;
    margin-top: -4%;
    margin-left: -4%;
}

.text25{
    text-align: center;
    margin-top: -3%;
    margin-left: 58%;
}

.buttonright:hover{
    background-color: black;
    color: white;
    transition: 1.5s;
}

.buttonleft:hover{
    background-color: black;
    color: white;
    transition: 1.5s;
}

img.korzinka:hover{
    background-color: black;
    color: white;
    transition: 1.5s;
}

.ver5:hover{
    background-color: grey;
    color: white;
    transition: 1.5s;
}

.ver6:hover{
    background-color: grey;
    color: white;
    transition: 1.5s;
}

.ver7:hover{
    background-color: grey;
    color: white;
    transition: 1.5s;
}

.ver10{
    display: flex;
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgb(207, 202, 196);
}

.scrollup{
    position: relative;
    margin-left: 5%;
    text-align: center;
}

.ver11{
    position: relative;
    display: flex;
    height: 50px;
    width: 100px;
    justify-content: center;
    margin-left: 45%;
    background-color: rgb(207, 202, 196);
}

.ver12{
    position: absolute;
    width: 180px;
    height: 40px;
    border-color: white;
    outline: 2px solid white;
    margin-top: 17%;
    margin-left: 2%;
}

.ver13{
    position: absolute;
    width: 130px;
    height: 40px;
    border-color: white;
    outline: 2px solid white;
    margin-top: 17%;
    margin-left: 16%;
}

.facebook1{
    width: 30px;
    height: 30px;
    margin-top: 17%;
    margin-left: 27% ;
}

.instagram1{
    width: 30px;
    height: 30px;
    margin-top: 17%;
    margin-left: 5% ;

}

.twitter1{
    width: 30px;
    height: 30px;
    margin-top: 17%;
    margin-left: 5% ;

}