.periodic {
    margin-left: 23%;
    margin-top: 8%;
    position: relative;
    height: 500px;
    margin-right: -1px;
    text-shadow: none;
}
.periodic-row {
    clear: both;
    height: 10%;
}
.cell {
    float: left;
    position: relative;
    width: 4%;
    height: 100%;
}
.element {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 1px;
    right: 1px;
    text-align: center;
    background-color: darkturquoise;
}
.symbol {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    margin-top: -4px;
    font-size: 15px;
    color: white;
}
