#ver {
    width: 50%;
    background-color: #C7DCE6;
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-top: 10%;
}

#ver2 {
    width: 10%;
    height: 30px;
    background-color: red;
    text-align: center;
    line-height: 30px;
    color: white;
}
button{
    background-color: red;
    margin-left: 49%;
}