        #buttonn{
            height: 2.1rem;
            width: 90%;
            display: flex;
            -webkit-align-items: center;
            justify-content: center;
            position: relative;
            background-color: #009900;
            margin-left: 4%;

        }

        .div{
            background-color: #EAECEF;
            height: 8.5rem;
            justify-content: center;
            text-align: center;
        }
        .p {
            color: white;
            font-size: 30px;
            margin-left: 35%;
        }

        .pp {
            color: white;
            font-size: 30px;
            margin-left: 2%;
            margin-top: 1%;
        }

        .div1 {
            display: flex;
            flex-direction: column;
            margin-left: 5%;
            margin-top: 2rem;
            width: 90%;
        }
        span {
            font-family: cursive;
            font-size: 0.7rem;
        }
        b {
            font-size: 1.5rem;
        }
        #div2 {
            width: 95%;
            margin-left: 2.5%;
            display: flex;
        }
        #button {
            width: 100%;
            display: flex;
            height: 2.1rem;
            margin-left: 12%;
            margin-top: 1%;
            text-align: center;
            background-color: #0080ff;
        }

        #div3 {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
        }
        .spinner-border {
            display: flex;
            justify-content:center;
            justify-items: center;
            margin-left: 45%;
            margin-top: 25%;
        }
        .vers {
            position: absolute;
            animation-name: verr;
            animation-delay: 3s;
            animation-duration: 888888585858585855s;
            animation-fill-mode: forwards;
            animation-direction: alternate-reverse;
            background-color: wheat;
            width: 100%;
            height: 100%;

        }
        .ver {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            animation: loading 5s ease-out;
            position: fixed;
            animation-iteration-count: 1;
            animation-duration: 10s;
            animation-fill-mode: forwards;
            z-index: 10000;
        }
        @keyframes verr{
              from{opacity: 1}
              to{opacity: 0}
          }